body {
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-auto-rows: 100px 200px 300px;
    grid-auto-columns: 10% 90% ;
    grid-template-areas:"he he he he"
                        "as ar ar ar"
                        "na ar ar ar"
                        "na fo fo fo"
                        ;
}

header {
    grid-area: he;
}

nav {
    grid-area: na;
}

article {
    grid-area: ar;
}

aside {
    grid-area: as;
}

footer {
    grid-area: fo;
}